<h1>Homepage</h1>
  <% if logged_in? %>
    <%= link_to "Create an Appearance", new_appearance_path %><br>
    <%= link_to "All Guests", guests_path %><br>
    <%= link to "All Edpisodes", episodes_path %><br>
    <%= link_to "Logout", logout_path, method: :destroy %>
    <% else %>
      <%= link_to "Login", login_path %><br>
      <%= link_to "Sign Up", signup_path %>
  <% end %>
